@font-face {
  font-family: 'DIN Medium';
  src: url('./fonts/DINCond-Medium.woff2') format('woff2'),
  url('./fonts/DINCond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./fonts/DINCond-Bold.woff2') format('woff2'),
  url('./fonts/DINCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
